.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 640px;
  position:relative;
  left: 10%;
  background-size: cover;
  color:aliceblue;
  font-size: smaller;
  font-family:Arial, Helvetica, sans-serif;
}


.top {
  display: flex;
  flex: row;
  justify-content: center;
  
  
}

.top div {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 100px;
}

.name {
  display: flex;
  flex-direction: column;  
}

.middle {
  display: flex;
  flex-direction: row;
  margin-top:55px;
  
}
.middle div {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-bottom: 0px;
  margin-right: 25px;

}

.poster h1 {
  
  font-size: xx-large;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}